DAMADAM_USERNAME=0utLawZ
DAMADAM_PASSWORD=asd
DAMADAM_USERNAME_2=
DAMADAM_PASSWORD_2=
GOOGLE_SHEET_URL=16t-D8dCXFvheHEpncoQ_VnXQKkrEREAup7c1ZLFXvu0
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
CHROMEDRIVER_PATH=
MAX_PROFILES_PER_RUN=0
BATCH_SIZE=20
MIN_DELAY=0.3
MAX_DELAY=0.5
PAGE_LOAD_TIMEOUT=30
SHEET_WRITE_DELAY=1.0
